.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(52, 29, 255);
}

h2 {
  text-shadow: 1px 1px 2px rgb(8, 0, 80);
}

p {
  text-shadow: 1px 1px 1px rgba(8, 0, 80, 0.5);
}

.repositorio {
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}
